{% extends 'base.html.twig' %}
{% block title %}
	Vue component
{% endblock %}
{% block body %}
	<h1>Your lucky number is
		{{ number }}</h1>
	<div {{ vue_component('Hello', { 'nom': 'clem', 'number': number } ) }}></div>
{% endblock %}
